body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0B1326;
  color: #DAE2FD;
}

/* HEADER */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  backdrop-filter: blur(10px);
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.menu a {
  margin: 0 10px;
  text-decoration: none;
  color: #A5B4FC;
}

/* HERO */
.hero {
  text-align: center;
  padding: 150px 20px 80px;
}

.hero h1 {
  font-size: 60px;
}

.hero p {
  max-width: 600px;
  margin: auto;
  color: #c7c4d8;
}

/* BUTTONS */
.btn {
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.primary {
  background: linear-gradient(160deg, #c0c1ff, #4b4dd8);
  color: #000;
}

.secondary {
  background: transparent;
  border: 1px solid #888;
  color: white;
}

.outline {
  border: 1px solid #818CF8;
  background: none;
  color: white;
}

/* FEATURES */
.features {
  text-align: center;
  padding: 80px 20px;
}

.grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #222A3D;
  padding: 20px;
  border-radius: 20px;
  width: 250px;
}

.link {
  color: #4EDEA3;
  background: none;
  border: none;
  cursor: pointer;
}

/* CTA */
.cta {
  text-align: center;
  padding: 60px;
  background: #222A3D;
  margin: 40px;
  border-radius: 30px;
}

/* FOOTER */
.footer {
  padding: 40px;
  background: #111827;
}

.footer-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.copy {
  text-align: center;
  margin-top: 20px;
}
